.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.footer-paralax {
    padding: 4rem 0 0 0;
}

.contact-mf {
    margin-top: 4rem;
}

.contact-title {
    color: rgb(201, 64, 166);
    text-align: end;
    margin-right: 2.2rem;
    font-size: 2rem;
}

.contact-title:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: rgb(201, 64, 166);
    width: 100px;
    bottom: -12px;
  }



.brief {
    padding-top:1em
}
.first-phrase {
    color:rgb(233, 222, 231);
    font-size: 1.5rem;

}

.second-phrase {
    color: rgb(233, 222, 231);
    font-weight: 100;
    font-size: x-large;
}

.socials {
    position: relative;
}
.socials-list {
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
}

ion-icon {
    color:rgba(201, 64, 167, 0.689);
    width: 12em;
    height: 12em;
}

ion-icon:hover {
    color: rgb(202, 65, 167);
}