.about-mf .box-shadow-full {
    
    padding-bottom: 1rem;
}


.about-title {
    color: rgb(201, 64, 166);
    text-align: end;
    margin-right: 2.2rem;
}
.about-title:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: rgb(201, 64, 166);
    width: 100px;
    bottom: -12px;
  }

.about-text {
    color: rgb(233, 222, 231);
}

.idioms-div {
    left: 50%;
}

.idioms-list {
    list-style-type: none;
    justify-content: flex-end;
    display: flex;
}

.idiom {
    margin-left: 1rem;
}