.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.about-title {
    color: rgb(201, 64, 166);
    text-align: end;
    margin-right: 2.2rem;
}

.about-text {
    color: rgb(233, 222, 231);
}

.title-box {
    margin-bottom: 3rem;
}
.idioms-div {
    left: 50%;
}

.idioms-list {
    list-style-type: none;
    justify-content: flex-end;
    display: flex;
}

.idiom {
    margin-left: 1rem;
}